[submodule "framework"]
	path = framework
	url = https://github.com/yiisoft/yii.git
[submodule "protected/assets/bootstrap"]
	path = protected/assets/bootstrap
	url = https://github.com/twitter/bootstrap.git
