body {
    background: #f9f9f9;
    font-family: Tahoma, "Geneva CY", sans-serif;
    font-size: 14px;
    /*-webkit-font-smoothing: antialiased;*/
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, "Century Schoolbook L", Serif;
    font-weight: normal;
}

h1 {
    font-size: 24px;
    color: #333333;
}

h2 {
    font-size: 18px;
    color: #666633;
}

h1, h2, h5 {
    font-style: italic;
}

h3 {
    color: #000;
}

h4 {
    font-size: 16px;
    margin-top: 0;
    line-height: 14px;
    color: #333;
}

h5 {
    color: #663300;
    font-size: 16px;
}

p {
    margin-top: 10px;
}

.metro {
    background: url(../images/icon_metro.png) left no-repeat;
    color: #333;
}

.metro span {
    padding-left: 23px;
}

.map_link {
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px dotted #663300;
    color: #663300;
    text-align: right;
}

address {
    font-size: 12px;
    font-style: normal;
}

.label {
    color: #666666;
}

#container {
    padding: 0px 1px;
    border-color: #a1a1a1;
}

#header {
    background: url(../images/header_bg.jpg);
    height: 100px;
}

#logo {
    display: block;
    position: relative;
    background: url(../images/logo.png) left center no-repeat;
    width: 196px;
    height: 67px;
    left: 20px;
    top: 15px;
    text-indent: -1999px;
}

#menu_block {
    position: relative;
    font-size: 16px;
    background: url(../images/menu_bg.png) repeat-x;
    height: 35px;
    text-align: center;
}

#main_navigation {
    list-style-image: none;
    list-style-type: none;
}

#main_navigation li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    cursor: pointer;
    line-height: 35px;
    vertical-align: middle;
}

#main_navigation a {
    width: 100px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 1px 0px #666;
    filter: dropshadow(color = #666666, offx = 1, offy = 1);
}


#main_navigation li a:hover {
    text-decoration: none;
    border-bottom: #fff dashed thin;
}

#footer_navigation li {
    padding-left: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 12px;
}

#main_navigation li.active {
    position: relative;
    background: url('../images/menu_active.png') repeat-x;
    background-position: 50% -18px;
    z-index: 9999;
}

#main_navigation li.active a {
    color: #333333;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color = #fff, offx = 1, offy = 1);
}

#main_navigation li.active a:hover {
    border-bottom: none;

}

#footer_navigation {
    font-style: italic;
}

#footer_navigation a {
    color: #333333;
}

#menu_block .menu_bottom_shadow {
    position: absolute;
    background: url(../images/menu_bottom_shadow.png) no-repeat;
    height: 31px;
    top: 0;
}

#map {
    overflow: hidden;
}

.map_shadow_top {
    position: absolute;
    background: url(../images/menu_bottom_shadow.png) top center no-repeat;
    height: 35px;
}

#map #map_toggler {
    position: relative;
    background: url(../images/map_toggler_bg.png) center no-repeat;
    height: 43px;
    margin-top: 1px;
    vertical-align: middle;
    cursor: pointer;
}

#map #map_toggler a {
    display: block;
    margin: 0 auto;
    width: 11px;
    line-height: 11px;
    text-indent: -1999px
}

#map #map_toggler a.arrow_down {
    background: url(../images/map_toggle_arrow_down.png) center no-repeat;
}

#map #map_toggler a.arrow_up {
    background: url(../images/map_toggle_arrow_up.png) center no-repeat;
}

#map #map_content {
    margin: 0;
    padding: 0;
    height: 450px;
    /*background: url(../images/map_sample.jpg) no-repeat;*/
}

div.shadow {
    position: absolute;
    background: transparent url(../images/footer_shadow.png) no-repeat;
    height: 28px;
    bottom: 0;
    width: 100%;
    z-index: 1999;
}

div.shadow.revert {
    background: transparent url(../images/menu_bottom_shadow.png) no-repeat;
    height: 35px;
    top: 0;
}

#content {
    min-height: 300px;
}

#content h1, #content h3 {

}

#content h1 {
    margin-bottom: 20px;
}

#content h1 span {
    text-transform: uppercase;
}

.v_splitter {
    background: url(../images/split_v.png) right repeat-y;
}

#main_content, #footer {
    /*padding-left: 30px;*/
}

.prepend_left {
    padding-left: 50px;
}

.prepend_top {
    padding-top: 30px;
}

.append-bottom {
    margin-bottom: 30px;
}

.space {
    display: block;
    height: 50px;
    clear: both;
}

.space.small {
    height: 20px;
}

.box_shadow {
    width: 146px;
    min-width: 146px;
    min-height: 97px;
    margin: auto;
    background: #ccc;
    border: 1px solid white;
    position: relative;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.62);
}

.offer {
    margin: 30px 0px;
}

.offer a {
    text-decoration: none;
}

.description_block {
    position: relative;
}

.description_block .description {
    padding-top: 10px;
    padding-left: 10px;
}

.description_block h3 {
    margin-bottom: 0;
}

.description_block address {
    margin-bottom: 15px;
}

.description_block a.apartment_type {
    display: block;
    height: 30px;
    color: #666666;
    line-height: 26px;
    text-decoration: none;
}

.description_block a.more_link {
    line-height: 26px;
    color: #666633;
    text-decoration: none;
}

.description_block a.apartment_type, .description_block a.more_link {
    font-size: 12px;
}

.description_block a.apartment_type:hover, .description_block a.more_link:hover {
    text-decoration: underline;
}

.key_grey {
    background: url(../images/key_grey.png) left no-repeat;
}

.key_gold {
    background: url(../images/key_gold.png) left no-repeat;
}

.key_grey span, .key_gold span {
    padding-left: 38px;
}

hr.splitter {
    width: 922px;
    height: 1px;
    background: url(../images/split_h.png) repeat-x;
    margin: 20px 0;
}

hr.splitter.croped {
    margin-left: 180px;
    width: 405px;
}

#sidebar {
    text-align: center;
}

#footer {
    font-family: Georgia, "Century Schoolbook L", Serif;
    min-height: 250px;
    background-color: #cacaca;
    color: #333333 !important;
}

#footer ul li {
    width: 150px;
    display: inline-block;
}

#footer a {
    font-style: italic;
    color: #333;
}

.copyright {
    font-size: 12px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    margin-top: 0;
}

.gallery {
    position: relative;
    clear: both;
    margin: 25px 0;
}

.gallery .items_wrapper {
    position: relative;
    width: 979px;
    overflow: hidden;
}

.gallery .items_wrapper a.prev,
.gallery .items_wrapper a.next {
    width: 267px;
    height: 279px;
    position: absolute;
    top: 0;
    outline: none;
    cursor: pointer;
    text-indent: -1999px;
    -moz-opacity: 0.70;
    opacity: 0.70;
}

.gallery .items_wrapper a.prev {
    left: 0;
    background: #e5e0d6 url(../images/slider_arrow_left.png) no-repeat center center;
}

.gallery .items {
    width: 445px;
    margin: 0 auto;
}

.gallery .items_wrapper a.next {
    right: 0;
    background: #e5e0d6 url(../images/slider_arrow_right.png) no-repeat center center;
}

.gallery .items ul {
    list-style: none;
    height: 279px;
    overflow: hidden;
}

.gallery .items ul li {
    width: 437px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 0 4px;
}

.gallery .items ul li img {
    width: 429px;
    max-height: 279px;
}

.gallery.small {
    /*margin: 0;*/
}

.gallery.small .items_wrapper {
    width: 675px;
    margin: 0 auto;
}

.gallery.small .items_wrapper a.prev,
.gallery.small .items_wrapper a.next,
.gallery.small .items ul,
.gallery.small .items ul li {
    height: 175px;
}

.gallery.small .items_wrapper .items {
    width: 519px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery.small .items_wrapper .items ul {
    /*width: 429px;*/
}

.gallery.small .items ul {
    list-style: none;
    overflow: hidden;
}

.gallery.small .items ul li {
    width: 259px;
    float: left;
    text-align: center;
    overflow: hidden;
    padding: 0;
}

.gallery.small .items ul li a {
    text-decoration: none;
    color: #000;
}

.gallery.small .items ul li div.item_wrapper {
    position: relative;
    top: 37px;
}

.gallery.small .items ul li span {
    position: relative;
    top: 3px;
    font-size: 14px;
}

.gallery.small .items ul li address {
    position: relative;
    top: 2px;
    font-size: 12px;
}

.gallery.small .items ul li a address {
    color: #330000;
}

.gallery.small .items ul li div.image_wrapper {
    background: #e5e5e5;
    width: 148px;
    padding: 1px;
    margin: 0 auto;
}

.gallery.small .items ul li img {
    width: 146px;
    max-height: 140px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
}

.gallery.small .items_wrapper a.prev,
.gallery.small .items_wrapper a.next {
    width: 30px;
    position: absolute;
    top: 0;
    outline: none;
    cursor: pointer;
    text-indent: -1999px;
}

.gallery.small .items_wrapper a.prev {
    left: 0;
    background: transparent url(../images/slider_arrow_left_small.png) no-repeat center center;
}

.gallery.small .items_wrapper a.next {
    right: 0;
    background: transparent url(../images/slider_arrow_right_small.png) no-repeat center center;
}

dl.dots {
    /*width: 450px;*/
    margin: 20px 0;
}

dl.dots dt {
    float: left;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
    line-height: 21px;
}

dl.dots dd {
    float: left;
    width: 70px;
    overflow: hidden;
    margin: 2px 0;
    padding-left: 5px;
}

#special_offers {
    height: 250px;
    /*line-height: 233px;*/
    background: url('../images/special_bg.png') bottom repeat-x;
    text-align: center;
}

#special_offers h2 {
    position: relative;
    top: 20px;
}

/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id$
 * @since 1.0
 */

.list-view .pager {
    width: 300px;
    margin: 0;
    float: right;
    padding-right: 20px;
}

ul.yiiPager {
    font-size: 18px;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline;
    position: relative;
}

ul.yiiPager li {
    display: inline-block;
    width: 30px;
    height: 29px;
    line-height: 29px;
    text-align: center;
}

ul.yiiPager li.selected, ul.yiiPager li.selected a:hover {
    background: transparent url(../images/pager_active_bg.png) no-repeat center;
}

ul.yiiPager li.previous a, ul.yiiPager li.next a {
    display: block;
    width: 30px;
    height: 29px;
    line-height: 29px;
}

ul.yiiPager li.previous {
    /*background: transparent url(../images/pager_arrow_prev.png) no-repeat center;*/
}

ul.yiiPager li.next {
    /*background: transparent url(../images/pager_arrow_next.png) no-repeat center;*/
}

ul.yiiPager li.next a img, ul.yiiPager li.previous a img {
    margin-bottom: 5px;
}

ul.yiiPager a:link,
ul.yiiPager a:visited {
    color: #333;
    text-decoration: none;
}

ul.yiiPager .page a {
    color: #333;
    display: block;
    width: 30px;
    height: 29px;
    font-weight: normal;
}

ul.yiiPager a:hover {
    background: #e5e5e5;
}

ul.yiiPager .selected a {
    color: #ffffff;
}

ul.yiiPager .hidden a {
    color: #888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last {
    display: none;
}

.list-view .sorter {
    width: 220px;
    float: left;
    line-height: 29px;
    margin: 0;
    text-align: left;
}

#main_content .list-view .items {
    clear: both;
    margin-top: 30px;
    zoom: 1;
}

/*
.list-view .sorter ul li {
    background: transparent url(../images/sorter_active_bg.png) no-repeat center;
    padding: 5px;
}
}*/
.list-view .sorter ul li a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #333;
}

.footer_logo {
    text-align: right;
    padding-right: 30px;
    line-height: 39px;
}

.image_block .overlay {
    width: 146px;
    position: absolute;
    height: 110px;
    z-index: 1999;
    background: white;
    left: 50%;
    margin-left: -73px;
    margin-top: 0;
    opacity: 0.5;
}

#footer h2 {
    /*padding-top: 20px;*/
    color: #333;
}

#footer .breadcrumbs {    
    line-height: 22px;
    font-size: 14px;
}

#footer .breadcrumbs img {
    padding-left: 7px;
    padding-right: 7px;
}

#footer .breadcrumbs a:hover {
    text-decoration: none;
}

#footer .breadcrumbs a[href='/'] {
    font-size: 18px;
}

.apartmentPlacemark {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}